[submodule "libs/gh-auth"]
	path = libs/gh-auth
	url = https://github.com/Georg632/gh-auth.git
[submodule "libs/shared/ui-gh-grid"]
	path = libs/shared/ui-gh-grid
	url = https://github.com/Georg632/ui-gh-grid.git
